body {
    background-color: ghostwhite;
    
    font-family: Arial;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Custom styles for the navbar */
.navbar {
    background-color: #2d6a4f; /* Jungle Green solid color */
    padding: 8px 30px; /* Thinner navbar */
    position: relative;
    z-index: 10;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    transition: color 0.3s;
}

    .navbar-brand:hover {
        color: #f39c12;
    }

.navbar-nav .nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

.nav-link {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

    .nav-link:hover {
        color: #f39c12;
    }

/* Mobile Menu Styling */
.navbar-toggler {
    border-color: #f39c12;
}

.navbar-toggler-icon {
    background-color: #f39c12;
}

/* Styling for active nav item */
.nav-link.active {
    color: #f39c12 !important;
    font-weight: 600;
}

.navbar-collapse {
    background-color: rgba(0, 0, 0, 0.8);
}

    .navbar-collapse .navbar-nav {
        text-align: center;
    }

@media (max-width: 768px) {
    .navbar {
        padding: 8px 15px;
    }
}

/* Header Styling (Jungle Image and Text) */
header {
    background: no-repeat center center/cover;
    background-image: url('header back round.png');
    padding: 0; /* No extra padding */
    color: #fff;
    text-align: center;
    height: 60px; /* Adjusted height to match the navbar */
    display: flex;
    justify-content: center;
    align-items: center;
}

    header h1 {
        font-size: 2rem; /* Reduced font size to fit header */
        font-weight: bold;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }

/* Carousel Image Styling */
.carousel-inner img {
    object-fit: cover;
    width: 100%;
    height: 500px; /* Adjusted height to prevent cutting off the images */
}

/* Main content section */
main {
    padding: 50px 0;
}

/* Footer Styling */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

    footer p {
        margin: 0;
    }